.about__section{
  font-family: 'Lato', sans-serif;
  height: 846px;
}

.box{
  height: 400px;
  width: 358px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.box__text{
  padding: 0px 0px 0px 24px;
  text-align: left;
  width: 80%;
  color: white;
}

.box__text p{
  padding: 0px 0px 0px 30px;
  
}

.box__text li{
  list-style: none;
  font-size: 20px;
  font-weight: 800;
}


.title__icon{
  width: 36px;
  height: 24px;
}

.box-a{
  background-image: url('../Assist/Rectangle\ 20.png');
}
.box-b{
  background-image: url('../Assist/Rectangle\ 19.png');
}
.box-c{
  background-image: url('../Assist/Rectangle\ 20.png');
}
.box-d{
  background-image: url('../Assist/Rectangle\ 19.png');
}