.about__section{
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.box{
  padding: 8px 0px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.box__text{
  padding: 0px 0px 0px 24px;
  text-align: left;
  width: 80%;
  color: white;
}

.box__text p{
  padding: 0px 0px 0px 30px;
  
}

.box__text li{
  list-style: none;
  font-size: 20px;
  font-weight: 800;
}


.links{

  display: flex;
  justify-content: right;
}

.link{
  color: white;
  
}

.link:hover{
  color: white;
  
}

.title__icon{
  width: 36px;
  height: 24px;
}

.box-a{
  background-image: url('../Assist/Rectangle\ 20.png');
}
.box-b{
  background-image: url('../Assist/Rectangle\ 19.png');
}
.box-c{
  background-image: url('../Assist/Rectangle\ 20.png');
}
.box-d{
  background-image: url('../Assist/Rectangle\ 19.png');
}