.industry__section{
  font-family: 'Lato', sans-serif;
  height: 846px;
  background: #3D3D3D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title__Box{
  color: white;
  text-align: center;
  padding: 0px 0px 40px;
}

.section__wraper{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* NAV */

.nav{
  background: white;
  width: 300px;
  height: 600px;
  box-shadow: 12px 0px 12px rgba(0, 0, 0, 0.24);
}

.nav ul{
  padding: 80px;
}

.nav li{
  padding: 0px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  list-style: none;
}

.nav__icon{
  width: 26px;
  height: 29px;
  padding: 0px 8px;
}

/* text frame */

.text__frame{
  background: #0F4699;
  color: white;
  width: 100%;
  height: 600px;
  padding-left: 20px;
  box-shadow: 12px 0px 12px rgba(0, 0, 0, 0.24);
}

.img{
  width: 380px;
}

.sub_text{
  padding: 8px;
  width: 100%;
}

@media (width: 717px) {
  .section__wraper {
    display: flex;
    flex-direction: column;
  }
}